* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
a{
  color: #000;
  text-decoration: none;
}
i{
  font-style: normal;
}
.box{
  text-align: center;
  width: 420px;
  margin: 100px auto;
}
.box a{
  padding:5px;
  display: inline-block;
  width: 20px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  
}


tr {
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-top: 1px solid #ccc;
}
tr .play-day {
  color: #f00;
}
tr .disable {
  color: #aaa;
}
tr .today{
  color: #0f0;
}
